config
log
demo
**/*.sqlite

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Celery task results
celerybeat-schedule
# supervisord 
supervisord.pid
supervisord.log
